<h2> Add SubCategory </h2>

<%= form_for @sub_category do |f| %>
<%= f.label :name %><br/>
<%= f.text_field :name %><br/><br/>

<%= f.label :category_id %><br/>
<%= f.text_field :category_id%><br/><br>

<%= f.submit "Submit" %>

<%end%>
