<h2><%= @product.name %></h2>

<% if user_signed_in? && current_user.is_admin %>
<%= link_to "edit", edit_product_path(@product.id) %>
<%= link_to "destroy", product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
<%end%>

<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Stock: <%= @product.stock %></p>
<p>Cod Eligibility: <%= @product.cod_eligibility %></p>
<p>Category Id: <%= link_to @product.category.name, category_path(@product.category_id)%> <!--Another way of displaying the data is -> --><!--<%= Category.find(@product.category_id).name %></p>--> <br/>

<p>Sub Category : <%= link_to @product.sub_category.name %></p>

<%= form_for @cart_line_item do |f| %>

<%= f.label :quantity %><br/>
<%= f.select :quantity, [1,2,3,4,5]%><br/> <!--another way of doing this is (1..5).to_a -->

<%= f.hidden_field :product_id, value: @product.id %>

<%= f.submit "Add to cart" %>

<%end%>


<h2>Reviews : ( <%= @product.reviews.length %> ) </h2>

<ol>
	<%@product.reviews.each do |review| %>
	<li>
		<%= review.user.email %> rated <%= review.rating %> <br/>
		<%= review.title %> - <%= review.body %> on <%= review.created_at %> <br/>

		<% if user_signed_in? && review.user_id == current_user.id %>
		<%= link_to "delete", review_path(review.id), method: :delete, data: {confirm: "Are you sure?"} %>
		<%end%>
	</li>
	<%end%>
</ol>


<h3>Add Review</h3>
<%= form_for @review do |f| %>

<%= f.label :rating %> <br/>
<%= f.radio_button :rating, 1 %> 1
<%= f.radio_button :rating, 2 %> 2
<%= f.radio_button :rating, 3 %> 3
<%= f.radio_button :rating, 4 %> 4
<%= f.radio_button :rating, 5 %> 5
<br/>

<%= f.label :title %><br/>
<%= f.text_field :title %><br/>

<%= f.label :body %><br/>
<%= f.text_area :body %><br/>

<%= f.hidden_field :product_id, value: @product.id %>

<%#= f.hidden_field :user_id, value: current_user.id (We will NOT give these details here since the user credentials can easily be altered. We will authenticate the user in create method)%>

<%= f.submit %>

<%end%>


<%= link_to "Back", products_path %>